<label>Server Name</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated">Server is created! Server name is {{ serverName }}</p>
<app-server></app-server>

<hr>
<hr>

<h3>Username</h3>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName">
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="userName = ''">Reset Username</button>
